<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" th:href="@{/bootstrap-5.0.2-dist/css/bootstrap.min.css}">
    <script type="text/javascript" th:src="@{/jquery/dist/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/lightslider.js}"></script>
    <script type="text/javascript" th:src="@{/bootstrap-5.0.2-dist/js/bootstrap.min.js}"></script>
    <script th:src="@{/sweetalert2/node_modules/sweetalert2/dist/sweetalert2.all.min.js}"></script>
    <title>Admin Gestion des Categories</title>
</head>
<body>
  
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand">AFRICA YAMOO</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" th:href="@{/adminrecettes}">&nbsp;recettes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/admincategories}">&nbsp;categories</a>
            </li>
            <li class="nav-item">
              <form th:action="@{/logout}" method="post">
                <button type="submit" value="Sign Out" class="btn btn-primary" style="background-color: red; margin-left:50%;">deconnexion</button>
                </form>               
            </li>
          </ul>
        </div>
      </nav>
      <div class="card">
        <div class="card-body">
          utilisez cette page pour gerer les categories 
        </div>
        <div class="card-body">
          <b>TOUTES LES CATEGORIES</b><a class="btn btn-primary" th:href="@{/admincategorie/add}" style="background-color:green;">nouvelle categorie</a>
          <div th:if="${sucess}">

            <script th:inline="javascript">
              function test(){
                Swal.fire({
      position: 'top-end',
      icon: 'success',
      title:  'operation effectuée avec sucess !',
      showConfirmButton: false,
      timer: 5000
    })
              }
              test();
            </script>
            
        </div>
        <div th:if="${error}">

          <script th:inline="javascript">
            function test(){
              Swal.fire({
    position: 'top-end',
    icon: 'error',
    title:  'échec de l\'operation !',
    showConfirmButton: false,
    timer: 5000
  })
            }
            test();
          </script>

          <div th:text = "${error}" class="alert alert-danger"></div>
      </div>
        </div>
      </div>
      <div class="container" style="align-items:center;">
        <div class="card-deck" style="display:flex; flex-wrap: wrap;margin-left:1%; max-height: 320px;">
          <div class="card" th:each = "cate: ${listCategorie}"style=" width:150px; margin-top: 15px; margin: 5px; padding: 1px;">
            <img style="height: 150px;" class="card-img-top" th:src="@{${cate.urlImage}}" alt="recette">
            <div class="card-body">
              <h5 class="card-title" th:text="${cate.name}"></h5>
              <fieldset style="border: solid;"></fieldset><p class="card-text" th:text="${cate.description}"></p></fieldset>
            </div>
              <a class="btn btn-outline-success my-2 my-sm-0" th:href="@{/admincategorie/update(id=${cate.id})}">Modifier</a><a id="delete" class="btn btn-outline-danger my-2 my-sm-0" th:href="@{/admincategorie/delete(id=${cate.id})}"  >Supprimer</a>
          </div>
        </div>
        </div>
        <!--  -->
        <script>
          function confirmer(){
            var res = confirm("voulez vous vraiment supprimer la catégorie?");
          if(res){
            alert ("ok")
          }
          }
          
        </script>
</body>
</html>