<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" th:href="@{/bootstrap-5.0.2-dist/css/bootstrap.min.css}">
    <script type="text/javascript" th:src="@{/jquery/dist/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/lightslider.js}"></script>
    <script type="text/javascript" th:src="@{/bootstrap-5.0.2-dist/js/bootstrap.min.js}"></script>
    <script th:src="@{/sweetalert2/node_modules/sweetalert2/dist/sweetalert2.all.min.js}"></script>
    <title>Admin Gestion des Recettes</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand">AFRICA YAMOO</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" th:href="@{/adminrecettes}">&nbsp;recettes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/admincategories}">&nbsp;categories</a>
            </li>

            <li class="nav-item">
              <form th:action="@{/logout}" method="post">
                <button type="submit" value="Sign Out" class="btn btn-primary" style="background-color: red; margin-left:50%;">deconnexion</button>
                </form>               
            </li>
          </ul>
        </div>
      </nav>

      <div class="card">
        <div class="card-body">
          utilisez cette page pour gerer les recettes 
        </div>
        <div class="card-body">
          <b>TOUTES LES RECETTES</b><a class="btn btn-primary" th:href="@{/adminrecettes/add}" style="background-color:green;">nouvelle recette</a>
        </div>
        <div th:if="${sucess}">

          <script th:inline="javascript">
            function test(){
              Swal.fire({
    position: 'top-end',
    icon: 'success',
    title:  'operation effectuée avec sucess !',
    showConfirmButton: false,
    timer: 5000
  })
            }
            test();
          </script>
          
      </div>
      <div th:if="${error}">

        <script th:inline="javascript">
          function test(){
            Swal.fire({
  position: 'top-end',
  icon: 'error',
  title:  'échec de l\'operation !',
  showConfirmButton: false,
  timer: 5000
})
          }
          test();
        </script>

        <div th:text = "${error}" class="alert alert-danger"></div>
    </div>
      </div>
      <div class="container" style="align-items:center ;">
        <div class="card-deck" style="display:flex; flex-wrap: wrap;margin-left:1%; max-height: 320px;">
          <div class="card" th:each = "recet: ${listRecettes}" style=" width:150px; margin-top: 15px; margin: 5px; padding: 1px;">
            <img style="height: 150px;" class="card-img-top" th:src="@{${recet.urlImageRecette}}" alt="recette">
            <div class="card-body">
              <h5 class="card-title" th:text="${recet.nameRecette}"></h5>
              <fieldset style="border: solid;"></fieldset><p class="card-text"></p></fieldset>
            </div>
              <a class="btn btn-primary" th:href="@{/adminrecette/update(id=${recet.idRecette})}" style="background-color: green;">Modifier</a><a id="delete" onclick="test();" class="btn btn-primary" th:href="@{/adminrecette/delete/(id=${recet.idRecette})}"  style="background-color: red;">Supprimer</a>
          </div>
        </div>
        </div>
        <footer class="fixed-bottom py-3">
          <div>
            <p>by soft/hallow &COPY; 2023</p>
          </div>
        </footer>
        <!-- <script src="../static/sweetalert2/node_modules/sweetalert2/dist/sweetalert2.all.min.js" th:src="@{/sweetalert2/node_modules/sweetalert2/dist/sweetalert2.all.min.js}"></script>
        <script th:inline="javascript">
          function test(){
            Swal.fire({
  position: 'top-end',
  icon: 'success',
  title: 'la recette a été supprimée avec succès',
  showConfirmButton: false,
  timer: 5000
})
          }
        </script> -->
</body>
</html>